################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/EJTests/bin/Debug
/Client/EJTests/bin/Debug
/Client/EJTests/obj/Debug
/Client/EJTests/obj/Debug
/Client/EvaJima/bin
/Client/EvaJima/obj
/Client/EvaJima/packages
/Client/EvaJimaCore/bin
/Client/EvaJimaCore/obj
/Client/EvaJimaSettings/bin
/Client/EvaJimaSettings/obj
/Client/EveJimaBrowser/bin
/Client/EveJimaBrowser/obj/Debug
/Client/EveJimaBrowser/obj/x86/Debug
/Client/EveJimaUniverse/bin/Debug
/Client/EveJimaUniverse/obj/Debug
/Client/packages
/Client/TestPlatform/bin/Debug
/Client/TestPlatform/obj/Debug
/Client/udater/bin
/Client/udater/obj
/Server/EveJimaServerMap/bin/Debug
/Server/Server/Data/Maps
*.suo
*.gitattributes
/Server/EveJimaServerMap/obj/Debug
